/* Style tab links */
/* .tablink {
  background-color: white;
  color: rgb(155, 155, 155);
  border: none;
  border-top: 2px solid rgb(155, 155, 155);
  float: right;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  width: 140px;
}

.tablink:hover{
  background-color: rgb(200, 200, 200);
}

.tablink.active{
  border:none;
  border-top: 5px solid #AADDff;
  border-right: 2px solid #AADDff;
  border-left: 2px solid #AADDff;
  font-weight: bold;
  color: black;
  background-color:white;
} */

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  align-items: left;
}

.edit_ele_wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 3px;
}

.edit_element {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(155, 155, 155);;
  border-radius: 20px;
  padding: 3px;

  height: 70px;
  width: 70px;
  font-size: 24px;
}

.edit_element:hover{
  background-color: rgb(200, 200, 200);
}

.edit_icon {
  margin: auto;
}

#edit {
  display: flex;
  flex-direction: column;
}

.follow_icon {
  position: absolute;
}

.timeline_inputs{
  display:flex;
  flex-direction: column;
}

.tick_input_inner{
  padding-left: 1em;
}

.input_small{
  -webkit-appearance: none;
  width: 3em;
  height: 1.6em;
  border-style: none none solid none;
  border-width: 2px;
}

.input_small::-webkit-outer-spin-button,
.input_small::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#edit label:hover{
  background-color:lightgray;
}