/***** Color variables *****/
/***** A brief CSS reset *****/
* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  margin: 0;
  overflow: hidden;
}

/***** Basic layout styling *****/
/* Setup */
body {
  display: flex;
  flex-direction: column;
}

.panel-container {
  flex: 1;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.panel {
  flex: 1;
  min-width: 0;
  min-height: 0;
}

/* Top bar */
#topbar {
  flex: 0 1 200px;
}

#panel-file, #panel-info {
  flex: 0 1 300px;
}

#panel-edit {
  flex: 1 1 300px;
}

/* Main */
#main-outer {
  flex: 1 1 400px;
}

/* Main inner */
#panel-groups, #panel-unused {
  flex: 0 1 300px;
}

#main-inner {
  flex-direction: column;
  flex: 1 1 500px;
}

#panel-details {
  flex: 0 1 200px;
}

#panel-timeline {
  flex: 1 1 200px;
}

/* Scrolling / Overflow */
#file, #info {
  overflow: hidden;
}

#edit, #groups, #unused, #details {
  overflow-x: hidden;
  overflow-y: auto;
}

#timeline {
  overflow: auto;
}

#topbar {
  overflow-y: hidden;
}

/***** Resize bars *****/
#topbar, .panel {
  display: flex;
}

.content {
  flex: 1;
}

#topbar, #panel-details {
  flex-direction: column;
}

.resize {
  background-color: #BBDDFF;
  flex: 0 0 4px;
  box-sizing: content-box;
  transition: outline 0.3s, background-color 0.3s;
  outline: solid transparent 3px;
  z-index: 2;
}

.resize:hover {
  background-color: #95CCFF;
  outline: solid #AADDFF 2px;
}

.resize-x {
  cursor: ew-resize;
}

.resize-y {
  cursor: ns-resize;
}

.panel {
  position: relative;
}

/***** Base Theme *****/
/* Font */
html {
  font-family: "Inter", "Helvetica", "Verdana", sans-serif;
  color: #111111;
}

/* Panels */
.panel, #topbar {
  background-color: #FCFBFA;
}

/* Timeline */
#timeline {
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.1);
}

/* Panel titles */
.panel-title {
  border-radius: 0px 0px 15px 0px;
  display: inline-block;
  border-right: solid #d3ecff 1px;
  border-bottom: solid #d3ecff 2px;
  box-shadow: 0 0 10px 0px #00000022;
  background: linear-gradient(to bottom, #d3ecff 0%, #b9e1ff 26%, #AADAFF 100%);
  text-shadow: -1px -1px 1px #77c4ff, 0 1px 1px #ddf0ff;
  margin-bottom: 8px;
  font-size: 1.1em;
  height: 1.8em;
  padding: 0.08em 0.6em 0.1em 0.4em;
  line-height: 1.6em;
}

/* Tabbed Panel Titles */
.panel-title:not(:last-child) {
  border-bottom-left-radius: 15px;
  padding-left: 0.6em;
  margin-left: -0.3em;
}

.panel-title-inactive {
  color: gray;
  border-right: solid #e6e6e7 1px;
  border-bottom: solid #e6e6e7 2px;
  background: linear-gradient(to bottom, #e2e6eb 0%, #d7dadc 26%, #D1D2D3 100%);
  text-shadow: -1px -1px 1px #b7b9ba, 0 1px 1px #ebecec;
  cursor: pointer;
  height: 1.6em;
  line-height: 1.4em;
  padding-top: 0.04em;
  transition: height 0.4s, padding-top 0.4s, background 0.4s !important;
  background-size: 100% 200%;
}

.panel-title-inactive:hover {
  height: 1.8em;
  padding-top: 0.18em;
  transition: height 0.2s, padding-top 0.2s, background 0.2s !important;
  background-position: 0.1em;
}

.panel-title {
  transition: height 0.4s, padding-top 0s, background 0.4s;
}

.tab-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/***** Temporary *****/
#unused {
  color: #DDDDDD;
  font-size: 50px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
