/*######  Color Variables  ######*/

$info-icon: #5376F1;


/*######  Info Message  ######*/

#info-message {
	padding: 0 15px;
}
#info-message > div {
	display: inline-block;
	text-align: center;
}
#info-message > div > i {
	font-size: 1.5em;
	color: $info-icon;
	margin-right: 0.2em;
	position: relative;
	top: 0.08em;
}
#info-message > div > span {
	font-size: 1.1em;
}
