/*######  Color Variables  ######*/

$bg: #000000;
$panel-bg: #FCFBFA;

$resize-bar: #BBDDFF;
$resize-bar-hover: #95CCFF;
$resize-bar-outline: #AADDFF;

$panel-title: #AADAFF;
$panel-title-inactive: #D1D2D3;
$panel-title-inactive-text: #484848;


/*######  A Brief CSS Reset  ######*/

* {
	box-sizing: border-box;
	-webkit-user-select: inherit;
	-moz-user-select: inherit;
	-ms-user-select: inherit;
	user-select: inherit;
	font-family: inherit;
}
html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: $bg;
	margin: 0;
	overflow: hidden;
}
input {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
p {
	margin: 0;
}
h1, h2, h3, h4 {
	margin: 0;
	font-weight: normal;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*######  Basic Layout  ######*/

/* Setup */
body {
	display: flex;
	flex-direction: column;
}
.panel-container {
	flex: 1;
	display: flex;
	min-width: 0;
	min-height: 0;
}
.panel {
	flex: 1;
	min-width: 0;
	min-height: 0;
}
/* Top bar */
#topbar {
	flex: 0 1 200px;
}
#panel-file, #panel-info {
	flex: 0 1 300px;
}
#panel-edit {
	flex: 1 1 300px;
}
/* Main */
#main-outer {
	flex: 1 1 400px;
}
/* Main inner */
#panel-groups, #panel-unused {
	flex: 0 1 300px;
}
#main-inner {
	flex-direction: column;
	flex: 1 1 500px;
}
#panel-details {
	flex: 0 1 200px;
}
#panel-timeline {
	flex: 1 1 200px;
}
/* Scrolling / Overflow */
.content {
	overflow-x: hidden;
	overflow-y: auto;
}
#timeline {
	overflow: auto;
}
#topbar {
	// Allows the top section to collapse
	// (flex sets default to auto, which fits content)
	min-height: 0;
}
/* Panel/Tab content */
.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.content > * {
	flex-shrink: 0;
}
.input-container,
.tabcontent,
#group-section {
	width: 100%;
}
// Full size centered content
.full-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
}
// Sticky titles
.tab-wrapper,
:not(.tab-wrapper) > .panel-title,
.leftright-tab-wrapper {
	position: sticky;
	top: 0;
}


/*######  Resize Bars  ######*/

#topbar, .panel {
	display: flex;
}
.content {
	flex: 1;
}
#topbar, #panel-details {
	flex-direction: column;
}
.resize {
	background-color: $resize-bar;
	flex: 0 0 4px;
	box-sizing: content-box;
	transition: outline 0.3s, background-color 0.3s;
	outline: solid transparent 3px;
	z-index: 3;
}
.resize:hover,
.resize-drag {
	background-color: $resize-bar-hover !important;
	outline: solid $resize-bar-outline 2px !important;
	border-color: transparent !important;
}
.resize-x {
	cursor: ew-resize;
}
.resize-y {
	cursor: ns-resize;
}
.panel {
	position: relative;
}
#cursor-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
}


/*######  Base Theme  ######*/

/* Font */
html {
	font-family: 'Inter', 'Helvetica', 'Verdana', sans-serif;
	color: #111111;
	font-size: 1rem;
}
/* Panels */
.panel, #topbar {
	background-color: $panel-bg;
}
/* Timeline */
#timeline::before {
	// Optional theme background
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/* Panel titles */
.panel-title {
	border-radius: 0px 0px 15px 0px;
	display: inline-block;
	border-right: solid lighten($panel-title, 8%) 1px;
	border-bottom: solid lighten($panel-title, 8%) 2px;
	box-shadow: 0 0 10px 0px #00000022;
	background: linear-gradient(to bottom,
		saturate(lighten($panel-title,8%),15%) 0%,
		saturate(lighten($panel-title,3%),5%) 26%,
		$panel-title 100%);
	text-shadow: -1px -1px 1px darken($panel-title,10%), 0 1px 1px lighten($panel-title,10%);
	margin-bottom: 8px;
	// Size
	font-size: 1.1rem;
	height: 1.8rem;
	padding: 0.08rem 0.6rem 0.1rem 0.4rem;
	line-height: 1.6rem;
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* Tabbed Panel Titles */
.tab-wrapper > .panel-title:not(:last-child) {
	border-bottom-left-radius: 15px;
	padding-left: 0.6rem;
	margin-left: -0.3rem;
}
.panel-title-inactive {
	// Grey-out
	color: $panel-title-inactive-text;
	border-right: solid lighten($panel-title-inactive, 8%) 1px;
	border-bottom: solid lighten($panel-title-inactive, 8%) 2px;
	background: linear-gradient(to bottom,
		saturate(lighten($panel-title-inactive,8%),15%) 0%,
		saturate(lighten($panel-title-inactive,3%),5%) 26%,
		$panel-title-inactive 100%);
	text-shadow: -1px -1px 1px darken($panel-title-inactive,10%), 0 1px 1px lighten($panel-title-inactive,10%);
	cursor: pointer;
	// Shrink
	height: 1.6rem;
	line-height: 1.4rem;
	padding-top: 0.04rem;
	// Slow recede
	transition: height 0.4s, padding-top 0.4s, background 0.4s !important;
	background-size: 100% 200%;
}
.panel-title-inactive:hover {
	// Grow
	height: 1.8rem;
	padding-top: 0.18rem;
	// Fast interaction
	transition: height 0.2s, padding-top 0.2s, background 0.2s !important;
	background-position: 0.1rem;
}
.panel-title {
	// Slow recede
	transition: height 0.4s, padding-top 0s, background 0.4s;
}
.tab-wrapper {
	// Reverse tabs so left overlaps right
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	max-width: 100%;
}


/*######  Timeline Wrapper  ######*/

#timeline {
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*######  Text  ######*/

.content {
	h1, h2, h3, h4 {
		margin-left: 8px;
		margin-bottom: 3px;
		margin-top: 10px;
	}
}
