/*######  Temporary  ######*/
// Unused (right) panel
#unused {
	color: #DDDDDD;
	font-size: 50px;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
#panel-unused {
	// Set to collapsed by default
	flex-basis: 5px;
}
