/*######  Color Variables  ######*/
$input-underline: #74A1F2;
$input-bg: #F1F1F1;
$input-underline-focus: #5376F1;
$input-bg-focus: #DDE5F9;

$input-underline-incomplete: #F8DE52;
$required-asterisk: #2D2D2D;

/*######  Input Fields  ######*/
/* Input positioning */
.input-container {
	columns: 2 450px;
	column-gap: 0;
}
.input-container > * {
	float: left;
	margin-bottom: 4px;
}
.input-container > label {
	clear: left;
	width: 9em;
	text-align: right;
	height: 1.1em;
	padding-top: 0.15em;
}
.input-container > input,
.input-container > select {
	margin-left: 6px;
	width: 300px;
	font-family: "hack";
	font-size: 1.1em;
	width: calc(100% - 9em - 6px);
}
.input-container > input[type=date],
.input-container > input[type=time] {
	width: 150 - 3px;
	text-align: center;
	width: calc(50% - 4.5em - 6px);
}
/* Input styling */
.input-container > input,
.input-container > select {
	border: none;
	border-bottom: solid $input-underline 2px;
	background-color: $input-bg;
	transition: background-color 0.1s;
	border-radius: 2px;
	padding: 2px 0px 2px 4px;
}
.input-container > input:hover,
.input-container > select:hover {
	background-color: darken($input-bg, 3%);
}
.input-container > input:focus,
.input-container > select:focus {
	outline: none;
	background-color: $input-bg-focus;
	border-bottom: solid $input-underline-focus 2px;
}
.input-container > .required::before {
	content: "* ";
	color: $required-asterisk;
}
.input-container > input:required:invalid {
	border-bottom: solid $input-underline-incomplete;
}


/*######  "Details" Input Fields  ######*/
.input-container > input[name="description"] {
	cursor: pointer;
}


/*######  Special Panels  ######*/
#details-unselected {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #DDDDDD;
	font-size: 2em;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
	text-align: center;
	overflow: hidden;
}
