/***** Color variables *****/
$bg: #000000;
$panel-bg: #FCFBFA;

$resize-bar: #BBDDFF;
$resize-bar-hover: #95CCFF;
$resize-bar-outline: #AADDFF;

$panel-title: #AADAFF;

/***** A brief CSS reset *****/
* {
	box-sizing: border-box;
	-webkit-user-select: none;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: $bg;
	margin: 0;
	overflow: hidden;
}

/***** Basic layout styling *****/
/* Setup */
body {
	display: flex;
	flex-direction: column;
}
.panel-container {
	flex: 1;
	display: flex;
	min-width: 0;
	min-height: 0;
}
.panel {
	flex: 1;
	min-width: 0;
	min-height: 0;
}
/* Top bar */
#topbar {
	flex: 0 1 200px;
}
#panel-file, #panel-info {
	flex: 0 1 300px;
}
#panel-edit {
	flex: 1 1 300px;
}
/* Main */
#main-outer {
	flex: 1 1 400px;
}
/* Main inner */
#panel-groups, #panel-unused {
	flex: 0 1 300px;
}
#main-inner {
	flex-direction: column;
	flex: 1 1 500px;
}
#panel-details {
	flex: 0 1 200px;
}
#panel-timeline {
	flex: 1 1 200px;
}
/* Scrolling / Overflow */
#file, #info {
	overflow: hidden;
}
#edit, #groups, #unused, #details {
	overflow-x: hidden;
	overflow-y: auto;
}
#timeline {
	overflow: auto;
}
#topbar {
	overflow-y: hidden;
}

/***** Resize bars *****/
#topbar, .panel {
	display: flex;
}
.content {
	flex: 1;
}
#topbar, #panel-details {
	flex-direction: column;
}
.resize {
	background-color: $resize-bar;
	flex: 0 0 4px;
	box-sizing: content-box;
	transition: outline 0.3s, background-color 0.3s;
	outline: solid transparent 3px;
	z-index: 2;
}
.resize:hover {
	background-color: $resize-bar-hover;
	outline: solid $resize-bar-outline 2px;
}
.resize-x {
	cursor: ew-resize;
}
.resize-y {
	cursor: ns-resize;
}
.panel {
	position: relative;
}

/***** Base Theme *****/
/* Font */
html {
	font-family: 'hack', 'Helvetica', 'Verdana', sans-serif;
}
/* Panels */
.panel, #topbar {
	background-color: $panel-bg;
}
/* Timeline */
#timeline {
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.1);
}
/* Panel titles */
.panel-title {
	border-radius: 0px 0px 15px 0px;
	padding: 2px 10px 2px 6px;
	display: inline-block;
	border-right: solid lighten($panel-title, 8%) 1px;
	border-bottom: solid lighten($panel-title, 8%) 2px;
	box-shadow: 0 0 10px 0px #00000022;
	background: linear-gradient(to bottom,
		saturate(lighten($panel-title,8%),15%) 0%,
		saturate(lighten($panel-title,3%),5%) 26%,
		$panel-title 100%);
	text-shadow: -1px -1px 1px darken($panel-title,10%),0 1px 1px lighten($panel-title,10%);
}

/***** Temporary *****/
#unused {
	color: #DDDDDD;
	font-size: 50px;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
