@use "sass:math";
@use "sass:list";

/*######  Color Variables  ######*/
$line: #111111;
$event: #111111;
$scale-label: #FFFFFF88;
$font-color: #222222;

/*######  Sizing Variables  ######*/
// Line
$line-thickness: 2px;
$arrow-height: 21px;
$arrow-width: math.floor(math.div($arrow-height, 1.4));
$falloff: $arrow-width * 2;
// Events
$event-line-thickness: 2px;
$dot-radius: 3px;
$event-rotation: 40deg;
$label-y: 3px;
$label-max-width: 120px;
$label-line-height: 1.1em;
$label-lines-to-show: 3;
// Ticks
$tick-thickness: 2px;
$tick-height: 14px;
$tick-label-y: 2px;


/*######  Timeline Layout  ######*/
.tc-timeline {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.tc-left-arrow,
.tc-right-arrow {
	flex-shrink: 0;
}
.tc-body {
	flex: 1;
	position: relative;
	height: 100%;
}
.tc-layer-events,
.tc-layer-ticks,
.tc-layer-legend,
.tc-layer-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
.tc-layer-legend,
.tc-layer-line {
	pointer-events: none;
}


/*######  Timeline Sections Layout  ######*/
.tc-layer-events,
.tc-layer-line {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}
.tc-upper,
.tc-lower {
	flex: 1 0 0;
}


/*######  Timeline Parts Style  ######*/
.tc-line {
	flex-shrink: 0;
	border-bottom: solid $line $line-thickness;
}
.tc-left-arrow {
	width: 0;
	height: 0;
	border-top: math.floor(math.div($arrow-height, 2)) solid transparent;
	border-bottom: math.floor(math.div($arrow-height, 2)) solid transparent;
	border-right: $arrow-width solid $line;
}
.tc-right-arrow {
	width: 0;
	height: 0;
	border-top: math.floor(math.div($arrow-height, 2)) solid transparent;
	border-bottom: math.floor(math.div($arrow-height, 2)) solid transparent;
	border-left: $arrow-width solid $line;
}


/*######  Timeline Sections Inner Layout  ######*/
.tc-upper,
.tc-lower {
	display: flex;
}
.tc-upper {
	align-items: flex-end;
}
.tc-lower {
	align-items: flex-start;
}


/*######  Event Elements  ######*/
.tc-event {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	width: 0;
	// Color of all sub-elements
	border-color: $event;
	background-color: $event;
}
.tc-event-line {
	width: 0;
	border-left: solid $event-line-thickness;
	border-color: inherit;
	height: 20px;                             // dynamic - layout
	// Dot color
	background-color: inherit;                // dynamic - group
}
.tc-event-label {
	border-bottom: solid $event-line-thickness; // dynamic - group, theme
	border-color: inherit;
	padding-bottom: $label-y;            // dynamic - theme
	max-width: $label-max-width;
	transform-origin: math.div($event-line-thickness, 2) calc(100% - math.div($event-line-thickness, 2));
	transform: translate(0px, math.div($event-line-thickness, 2)) rotate(-$event-rotation);
	// Prevent text from wrapping due to timeline edge
	width: max-content;
}
// Dot
.tc-event-line {
	position: relative;
}
.tc-event-line::after {
	position: absolute;
	bottom: -($dot-radius + math.div($event-line-thickness, 2));
	left: -($dot-radius + math.div($event-line-thickness, 2));
	display: block;
	content: "";
	width: $dot-radius * 2;
	height: $dot-radius * 2;
	background-color: inherit;
	border-radius: $dot-radius;
}
// Font
.tc-event {
	font-size: 0.8em;
}
// Label ellipsis
.tc-event-label > div {
	// Overflow
	overflow: hidden;
	text-overflow: ellipsis;
	// Fallback line limit
	display: block;
	line-height: $label-line-height;
	max-height: $label-lines-to-show * $label-line-height;
	// Modern line limit
	display: -webkit-box;	
	-webkit-line-clamp: $label-lines-to-show;
	-webkit-box-orient: vertical;
}
// Flip direction when below
.tc-lower .tc-event {
	flex-direction: column;
	align-items: flex-end;
}
.tc-lower .tc-event-label {
	transform-origin: calc(100% - math.div($event-line-thickness, 2)) calc(100% - math.div($event-line-thickness, 2));
	transform: rotate(-$event-rotation);
	border-bottom-right-radius: math.div($event-line-thickness, 2);
}
.tc-lower .tc-event-line::after {
	top: -($dot-radius + math.div($event-line-thickness, 2));
}
.tc-lower .tc-event::before {
	// Extent event line with label vertical position
	// (dynamic height)
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: solid $event-line-thickness;
    border-color: inherit;
}


/*######  Event Elements Interaction  ######*/
.tc-event-label {
	transition: border 0.5s;
}
.tc-event-label:hover {
	cursor: pointer;
	border-bottom-color: #00000011 !important;
}
// Corner brackets
.tc-event-label::before,
.tc-event-label::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}
.tc-event-label::before {
  content: '';
  right: -8px;
  bottom: -4px;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #A8A8A8;
  transform: translate(-20%, -20%);
}
.tc-event-label:after {
  content: '';
  left: -8px;
  top: -4px;
  border-top: 2px solid #666666;
  border-left: 2px solid #A8A8A8;
  transform: translate(20%, 20%)
}
.tc-event-label:hover:before,
.tc-event-label:hover:after {
  transform: translate(0,0);
  opacity: 1;
}


/*######  Ticks  ######*/
.tc-layer-ticks {
	align-items: center;
}
.tc-tick {
	font-size: 0.8em;
	width: 0;
	height: $tick-height;
	display: flex;
	justify-content: center;
	position: absolute;
}
// Only borders render correctly at thin widths (not background)
// ...on some browsers.
// Also a pseudo element so it can offset the width with a margin to remain centered
.tc-tick::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    // One border allows for finer thickness control (no doubling)
    // Corner rounding seems to be ok if no content
    border-left: solid $line $tick-thickness;
    margin-left: math.div($tick-thickness, 2);
    border-radius: list.slash($tick-thickness, $tick-thickness*3);
}
.tc-tick-label {
	position: relative;
	top: 100%;
	margin-top: $tick-label-y;
}


/*######  Overflow Fade Out  ######*/
// .tc-body
.tc-layer-ticks,
.tc-layer-events {
	-webkit-mask-image: linear-gradient(to right, 
		rgba(0, 0, 0, 0) 0, rgb(0, 0, 0, 1) $falloff, 
		rgb(0, 0, 0, 1) calc(100% - $falloff), rgba(0, 0, 0, 0) 100%);
	mask-image: linear-gradient(to right, 
		rgba(0, 0, 0, 0) 0, rgb(0, 0, 0, 1) $falloff, 
		rgb(0, 0, 0, 1) calc(100% - $falloff), rgba(0, 0, 0, 0) 100%);
}
.tc-body {
	overflow: hidden;
}


/*######  Timeline Interaction  ######*/
.tc-timeline {
	cursor: grab;
}
.tc-cursor-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: grabbing;
	z-index: 99999;
}


/*######  Legend  ######*/
.tc-scale-label {
	bottom: 50%;
	background-color: $scale-label;
	position: absolute;
	margin-bottom: 10px;
	margin-left: 5px;
	font-size: 0.8em;
	border-radius: 1px;
}


/*######  Fonts  ######*/
.tc-timeline {
	color: $font-color;
}
